#Environment variables file
.env
#Virtual environment
venv/
env/
VENV/
ENV/
.env/
#Python bytecode
__pycache__/
*.py[cod]
#Database
db.sqlite3
#VS Code settings
.vscode/
#PyCharm settings
.idea/
#MacOS files
.DS_Store
#Windows files
Thumbs.db
#Media files
media/
staticfiles/